@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-text-me-one: "Text Me One", sans-serif;
}

body {
  font-family: var(--font-open-sans); 
  background-color: #0D0C0C; 
  color: #FF8A00; 
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #FFF;
  border-radius: 4px;
}


button:hover {
  color: #FF8A00; 
}

body {
  transition-property: opacity, background,  transform, filter; 
  transition-timing-function: ease-in-out ;
  transition-duration : 500ms ; 
}

.page-transition {
  opacity : 0; 
  background : black ; 
  transform : translateY(40px) ; 
  filter : blur(12px) ;
}

section {
  transition-property: opacity, background,  transform, filter; 
  transition-timing-function: ease-in-out ;
  transition-duration : 500ms ; 
}

.section-transition {
  opacity : 0; 
  background : #0D0C0C ; 
  transform : scale(0.9) ; 
  filter : blur(12px) ;
}